/*** 1. Misc ***/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
*,
html {
  box-sizing: border-box;
}
/* Colores */
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}
/*** 2. Navegación ***/
/*** 3. Encabezado ***/
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header.home {
  height: 100vh;
  background: url(../img/2015_Toyota_Rav4_Interior.jpg) no-repeat center;
}
header .topbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  font-size: 0.7rem;
  height: 50px;
  padding: 20px;
  background-color: #00a665;
  border-bottom: 1px solid #00643d;
  color: #e8e8e8;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
header .topbar a {
  color: #e8e8e8;
}
header .topbar .textdark {
  color: #363636;
}
header nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav.small {
  width: 15%;
}
header nav.medium {
  width: 60%;
}
header nav.mainmenu {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
header nav.mainmenu a {
  color: #363636;
  text-shadow: 0 0 1px #f5f5f5;
}
header nav.mainmenu a:hover {
  color: #00a665;
}
header nav.secondary {
  background-color: #007346;
  border: 1px solid #00ca7b;
}
header nav a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
header .mainav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #cfcfcf;
  padding: 6px 0;
}
header .mainav .logo {
  display: block;
}
header .mainav .logo img {
  width: 210px;
}
header .booking {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  width: 90%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(http://res.cloudinary.com/javiertroz/image/upload/e_blur:501,fl_progressive/v1441254941/2015_Toyota_Rav4_Interior2_xbv13h.jpg) no-repeat center;
}
header .booking h1 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 20px;
  color: #1a2230;
  text-shadow: 0 0 5px #f5f5f5;
}
@media screen and (max-width: 695px) {
  header .menu {
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav.mainmenu {
    width: 100%;
  }
}
@media screen and (max-width: 965px) {
  header nav.mainmenu {
    font-size: .8rem;
  }
  header .booking {
    width: 100%;
  }
}
@media screen and (max-width: 1135px) {
  nav.medium {
    width: 100%;
  }
}
/*** 4. Páginas ***/
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.fullwidth {
  width: 100%;
}
.BP {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.firstBP {
  width: 67.5%;
}
@media screen and (min-width: 1400px) {
  .secondBP {
    width: 50%;
  }
}
@media screen and (max-width: 1366px) {
  .firstBP {
    width: 80%;
  }
  .secondBP {
    width: 80%;
  }
}
@media screen and (max-width: 965px) {
  .firstBP {
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .firstBP {
    width: 100%;
  }
  .secondBP {
    width: 95%;
  }
}
@-webkit-keyframes tadaAnimation {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1);
            transform: rotate(0deg) scaleX(1) scaleY(1);
  }
  10% {
    -webkit-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
            transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  20% {
    -webkit-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
            transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  30% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  40% {
    -webkit-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  50% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  60% {
    -webkit-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  70% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  80% {
    -webkit-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  90% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  100% {
    -webkit-transform: rotate(0deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(0deg) scaleX(1.2) scaleY(1.2);
  }
}
@keyframes tadaAnimation {
  0% {
    -webkit-transform: rotate(0deg) scaleX(1) scaleY(1);
            transform: rotate(0deg) scaleX(1) scaleY(1);
  }
  10% {
    -webkit-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
            transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  20% {
    -webkit-transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
            transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  30% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  40% {
    -webkit-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  50% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  60% {
    -webkit-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  70% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  80% {
    -webkit-transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  90% {
    -webkit-transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  100% {
    -webkit-transform: rotate(0deg) scaleX(1.2) scaleY(1.2);
            transform: rotate(0deg) scaleX(1.2) scaleY(1.2);
  }
}
/*** 5. Sidebar ***/
/*** 6. Widgets ***/
section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section.widgetsrow {
  background-color: #edf0f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.widgetsrow .widget-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-family: 'Raleway', sans-serif;
  font-size: .8rem;
  letter-spacing: 2px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
}
section.widgetsrow .widget-inner .circle {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 4px solid #516992;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  color: #6a83ac;
  letter-spacing: normal;
}
section.widgetsrow .widget-inner .circle:hover {
  border: 4px solid #00a665;
  color: #00a665;
  -webkit-animation: tadaAnimation linear 1s;
          animation: tadaAnimation linear 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
section.widgetsrow .widget-inner:nth-child(even) {
  border-right: 1px dashed #8b9ebe;
  border-left: 1px dashed #8b9ebe;
}
section.widgetsrow .widget-inner:nth-last-child(1) {
  border-right: none;
}
section.widgetsrow .widget-inner:hover > .circle {
  border: 4px solid #00a665;
  color: #00a665;
  -webkit-animation: tadaAnimation linear 1s;
          animation: tadaAnimation linear 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
section .separate {
  margin: 40px auto;
}
section .no-border {
  border: none !important;
}
@media screen and (max-width: 700px) {
  section.widgetsrow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .widget-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .widget-inner {
    padding: 20px 0;
    border: none !important;
    width: 100% !important;
  }
}
/*** 7. Pie de página ***/
