header{
  display:flex;
  flex-flow: column nowrap;
  align-items: center;

  &.home{
    height: 100vh;
    background: url(../img/2015_Toyota_Rav4_Interior.jpg) no-repeat center;
  }

  .topbar{
    display:flex;
    width:inherit;
    font-size: 0.7rem;
    height: 50px;
    padding:20px;
    background-color: @maincolor;
    border-bottom: 1px solid darken(@maincolor, 13%);
    color: @topbartext;
    justify-content:space-between;
    align-items: center;
    flex-flow: row nowrap;

    a{
      color: @topbartext;
    }

    .left{

    }
    .right{

    }
    .textdark{
      color: @topbartextdark;
    }
  }

  nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.small{
      width: 15%;
    }
    &.medium{
      width: 60%;
    }
    &.mainmenu{
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      a{
        color: darken(@gray, 75%);
        text-shadow: 0 0 1px @gray;
      }
      a:hover{
        color: @maincolor;
      }
    }
    &.secondary{
      background-color: darken(@maincolor, 10%);
      border:1px solid lighten(@maincolor, 7%);
    }

    a{
      text-align: center;
      text-decoration: none;
      padding:10px;
      flex-grow: 1;
    }

    a:hover{

    }
  }

  .mainav{
    display:flex;
    justify-content: center;
    background-color: @gray;
    border-bottom: 1px solid darken(@gray, 15%);
    padding:6px 0;

    .logo{
      display: block;
      img{
        width: 210px;
      }
    }
  }

  .booking{
    display:flex;
    height: 50vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    background: url(http://res.cloudinary.com/javiertroz/image/upload/e_blur:501,fl_progressive/v1441254941/2015_Toyota_Rav4_Interior2_xbv13h.jpg) no-repeat center;

    h1{
      .ralewayFont();
      letter-spacing: 20px;
      color: darken(@secondarycolor, 80%);
      text-shadow: 0 0 5px @gray;
    }
  }
}
@media screen and (max-width:695px){
  header{

    .menu{
      flex-flow: column wrap;
      align-items: center;
    }

    nav{
      &.mainmenu{
        width: 100%;
      }
    }
    // .booking{
    //   width: 100%;
    // }
  }
}
@media screen and (max-width:965px){
  header{

    nav{
      &.mainmenu{
        font-size:.8rem;
      }
    }

    .booking{
      width: 100%;
    }
  }
}
@media screen and (max-width:1135px){
  nav{

    &.medium{
      width: 100%;
    }
  }
}
