// fonts
.latoFont(){
  font-family: 'Lato', sans-serif;
}
.montserratFont(){
  font-family: 'Montserrat', sans-serif;
}
.ralewayFont(){
  font-family: 'Raleway', sans-serif;
}
.sourcesansFont(){
  font-family: 'Source Sans Pro', sans-serif;
}
.tadaAnimation(){
  animation: tadaAnimation linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}
