.wrapper{
  display:flex;
  flex-flow: column nowrap;
}
.fullwidth{
  width: 100%;
}
.BP{
  display:flex;
  justify-content: space-between;
}
.firstBP{
  width: 67.5%;
}
// .secondBP{
//   width: 50%;
// }

@media screen and (min-width:1400px){
  .secondBP{
    width:50%;
  }
}

@media screen and (max-width:1366px){
  .firstBP{
    width: 80%;
  }
  .secondBP{
    width: 80%;
  }
}
@media screen and (max-width:965px){
  .firstBP{
    width: 95%;
  }
}
@media screen and (max-width: 600px){
  .firstBP{
    width: 100%;
  }
  .secondBP{
    width: 95%;
  }
}


@keyframes tadaAnimation{
  0% {
    transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  60% {
    transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
}
