/*** 1. Misc ***/
*,html{
  box-sizing: border-box;
}
// body{
//   overflow-x: hidden;
// }

// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);


// Variables
@import "variables.less";

// Mixins
@import "mixins.less";

// Misc
@import "misc.less";

/*** 2. Navegación ***/

@import "navigation.less";

/*** 3. Encabezado ***/

@import "header.less";

/*** 4. Páginas ***/

@import "pages.less";

/*** 5. Sidebar ***/

@import "sidebar.less";

/*** 6. Widgets ***/

@import "widgets.less";

/*** 7. Pie de página ***/

@import "footer.less";
