section{
  display: flex;
  justify-content: center;

  &.widgetsrow{
    background-color: @secondarycolor;
    display: flex;
    // flex-flow: row nowrap;
    justify-content: space-between;

    .widget-inner{
      display: flex;
      flex-flow: column nowrap;
      .ralewayFont();
      font-size: .8rem;
      letter-spacing: 2px;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      // border-right: 1px dashed darken(@secondarycolor, 30%);
      width: 300px;

      .circle{
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
        border-radius: 50%;
        border:4px solid darken(@secondarycolor, 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        .sourcesansFont();
        font-size: 3rem;
        line-height: 3rem;
        color: darken(@secondarycolor, 40%);
        letter-spacing: normal;
      }
      .circle:hover{
        border:4px solid @maincolor;
        color:@maincolor;
        .tadaAnimation();
      }

      p{

      }
    }
    .widget-inner:nth-child(even){
      // border-right: none;
      border-right: 1px dashed darken(@secondarycolor, 30%);
      border-left: 1px dashed darken(@secondarycolor, 30%);
    }
    .widget-inner:nth-last-child(1){
      border-right: none;
    }
    .widget-inner:hover > .circle{
      border:4px solid @maincolor;
      color:@maincolor;
      .tadaAnimation();
    }
  }
  .separate{
    margin: 40px auto;
  }
  .no-border{
    border:none !important;
  }
}
@media screen and (max-width:700px){
  section{

    &.widgetsrow{
      flex-direction: column;
    }

    .widget-container{
      flex-direction: column;
      align-items: center;
    }

    .widget-inner{
      padding: 20px 0;
      border:none !important;
      width: 100% !important;
    }
  }
}
